header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    a {
        display: block;
        padding: 10px 20px;
        color: $text;
        font-size: 1.6rem;
        white-space: nowrap;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    > ul {
        display: flex;
        list-style: none;

        > li {
            display: flex;
            position: relative;

            &:hover {
                ul {
                    z-index: 1;
                    opacity: 1;
                }
            }
        }
    }

    ul.child {
        display: flex;
        position: absolute;
        z-index: -1;
        top: 44px;
        flex-direction: column;
        padding: 0;
        transition: all ease 500ms;
        opacity: 0;
        background-color: $text;
        list-style: none;

        li {
            a {
                min-width: 100px;
                transition: border-left 500ms ease;
                color: #fff;

                &:hover {
                    box-sizing: border-box;
                    border-left: 5px solid #fff;
                }
            }
        }
    }
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
