html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    a {
        display: block;
        padding: 10px 20px;
        color: #212529;
        font-size: 1.6rem;
        white-space: nowrap;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    > ul {
        display: flex;
        list-style: none;

        > li {
            display: flex;
            position: relative;
        }
    }

    ul.child {
        display: flex;
        position: absolute;
        top: 44px;
        flex-direction: column;
        padding: 0;
        background-color: #212529;
        list-style: none;

        li {
            a {
                color: #fff;
            }
        }
    }
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
