header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;

    @include breakpoint(sm) {
        padding: 0 16px;
    }

    @include breakpoint(xs) {
        flex-direction: column;
        padding: 0 8px;
    }
}
.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;

    @include breakpoint(xs) {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
    }
}
