section.mv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 420px;
    margin-top: -50px;
    background: url('../public/images/image_4.jpg') top center;

    .slogan {
        h1 {
            font-size: 4rem;
        }

        p {
            max-width: 600px;
            font-size: 1.8rem;
        }
    }
}
